CompileFlags:
  Add:
    - --target=x86_64-w64-mingw32
    - -Wall
    - -Wno-sign-compare
    - -Wno-char-subscripts
    - -Wno-parentheses
    - -Wno-unknown-pragmas
    - -lm
    - -std=gnu++20
    - -ID:/coding/c++/ps/snippets
    - -include=D:/coding/c++/ps/include/common.h
Completion:
  HeaderInsertion: Never